{% extends 'format.html' %}
{%block title%}About | Features{%endblock title%}
{%block style%}
<style>

</style>
{%endblock style%}
{%block body%}
{%load static%}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Hi!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Its my second website practice model which enables you to login and logout . Also if you login , you get a feature to add products along with their images . This website has some bugs like it doesn't check anonymous user , etc .</p>
        
      </div>
    </div>
  </div>



{%endblock body%}